---

- selinux:
    state: disabled

- name: Install EPEL-Release
  yum:
    name: epel-release
    state: present

- name: Install some basic packages
  command: yum -y install python2-pip rsync wget net-tools open-vm-tools cloud-init vim htop jq bind-utils

- name: Copy Vmware cloud-init vmware guestinfo datasource
  copy:
    src: DataSourceVmwareGuestinfo.py
    dest: /usr/lib/python2.7/site-packages/cloudinit/sources/DataSourceVmwareGuestinfo.py
    mode: 0755

- name: Copy config file
  copy:
    src: 10_vmware.cfg
    dest: /etc/cloud/cloud.cfg.d/10_vmware.cfg

- name: Ensure cloud-init is started after vmware-tools
  lineinfile:
    path: /usr/lib/systemd/system/vmtoolsd.service
    regexp: '^Before=cloud-init-local.service'
    insertafter: '^ConditionVirtualization=vmware'
    line: 'Before=cloud-init-local.service'

- name: Copy cloud.cfg
  copy:
    src=cloud.cfg
    dest=/etc/cloud/cloud.cfg

- name: Hacky for now but fix package issues with urllib3
  command: pip install requests urllib3 pyOpenSSL --force --upgrade 

- name: purge old docker packages
  yum:
    name: "{{ item }}"
    state: absent
  with_items:
    - docker
    - docker-common
    - container-selinux
    - docker-selinux
    - docker-engine

- name: install requirements
  yum:
    name: "{{ item }}"
    update_cache: yes
  with_items:
    - device-mapper-persistent-data
    - lvm2

- name: add docker-ce repository (centos7)
  yum_repository:
    name: docker-ce
    description: Docker Repository
    baseurl: https://download.docker.com/linux/centos/7/$basearch/stable
    gpgkey: https://download.docker.com/linux/centos/gpg
    gpgcheck: yes
    file: docker

- name: install docker-ce
  yum:
    name: docker-ce
    update_cache: yes

- name: enable service docker and ensure it is not masked
  systemd:
    name: docker
    enabled: yes
    masked: no
    state: started

- name: Check if vsphere plugin is installed
  shell: "docker plugin inspect vsphere:latest"
  register: vsphere_plugin_installed
  tags:
    vsphere
  ignore_errors: true

- name: Install vSphere docker plugin
  command: docker plugin install --grant-all-permissions --alias vsphere vmware/vsphere-storage-for-docker:latest
  when:  vsphere_plugin_installed.rc != 0
  tags:
    vsphere

- name: Install vsphere-storage-for-docker.conf
  copy:
    src: vsphere-storage-for-docker.conf
    dest: /etc/vsphere-storage-for-docker.conf
  tags:
    vsphere

- name: Install docker-compose
  pip:
    name: docker-compose

- name: Install python-consul
  pip:
    name: python-consul

- name: Enable services
  systemd: name="{{ item }}" enabled=yes
  with_items:
    - cloud-init
    - cloud-config
    - cloud-final
  ignore_errors: true

- name: Restart cloud-final
  systemd: state=started name=cloud-final
  ignore_errors: true

