version: "3.3"
services:
  redis:
    image: redis:latest
    deploy:
      replicas: 1
    configs:
      - source: my_config
        target: /redis_config
        uid: '103'
        gid: '103'
        mode: 0440
    volumes:
      - type: volume
        source: redis-0a022b
        target: /data
configs:
  my_config:
    file: ./my_config.txt
  my_other_config:
    external: true

volumes:
  redis-0a022b:
    driver: vsphere:latest
    driver_opts:
      size: 1Gb

