---
bootstrap_url: http://{{ ansible_default_ipv4.address }}:80
cluster_name: {{ ansible_env.MESOSPHERE_CLUSTER_NAME }}
exhibitor_storage_backend: static
master_discovery: static
fault_domain_enabled: false
customer_key: {{ mesosphere_es_licence_key }}
# This is not currently working in my lab. Most likely because i'm not using a public IP
#ip_detect_public_filename: /opt/dcos-{{ ansible_env.DCOS_VERSION }}/genconf/ip-detect
master_list:
{% for master_ip in ansible_env.MESOS_MASTERS.split(',') %}
- {{ master_ip }}
{% endfor %}
public_agent_list:
{% for mesos_agent_private_ip in ansible_env.MESOS_AGENTS_PUBLIC.split(',') %}
- {{ mesos_agent_private_ip }}
{% endfor %}
agent_list:
{% for mesos_agent_private_ip in ansible_env.MESOS_AGENTS_PRIV.split(',') %}
- {{ mesos_agent_private_ip }}
{% endfor %}
resolvers:
- {{ ansible_env.MESOSPHERE_RESOLVER }}
- 8.8.8.8
superuser_username: superuser

