version: '3.3'
services:
  nginx:
    image: nginx
    ports:
      - "80:80"
    deploy:
      replicas: 1
    volumes:
      - type: bind
        source: /opt/dcos-{{ ansible_env.DCOS_VERSION }}/genconf/serve
        target: /usr/share/nginx/html
        volume:
          nocopy: true

