version: '3.3'
services:
  consul:
    volumes:
    - type: volume
      source: consul-0a022b
      target: /consul/data
    ports:
    - "8500:8500"
    image: consul:latest
    command:
    - agent
    - -server
    - -join
    - -data-dir=/consul/data
    - {{ consul_bootstrap_node }}
    - -disable-host-node-id
    - ui
    deploy:
      restart_policy:
        condition: on-failure


volumes:
  consul-0a022b:

