version: '3.3'
services:
  consul:
    volumes:
    - type: volume
      source: consul-{{ ansible_hostname }}
      target: /consul/data
    ports:
    - "8500:8500"
    - "8301:8301"
    image: consul
    stdin_open: true
    tty: true
    command:
    - agent
    - -server
    - -bootstrap-expect=3
    - -data-dir=/consul/data
    - -node={{ ansible_hostname }}
    - -enable-script-checks=true
    - -ui
    deploy:
      restart_policy:
        condition: on-failure

volumes:
  consul-{{ ansible_hostname }}:

