version: '3.3'
services:
  dnsmasq:
    network_mode: host
    image: tomdymond/dnsmasq-consul
    ports:
    - 53:53/udp
    cap_add:
    - NET_ADMIN
    - NET_BROADCAST

  consul:
    network_mode: host
    volumes:
    - type: volume
      source: consul-{{ ansible_hostname }}
      target: /consul/data
    ports:
    - "0.0.0.0:8600:8600/tcp"
    - "0.0.0.0:8600:8600/udp"
    - "0.0.0.0:8500:8500/tcp"
    - "0.0.0.0:8301:8301/tcp"
    - "0.0.0.0:8301:8301/udp"
    - "0.0.0.0:8302:8302/tcp"
    - "0.0.0.0:8302:8302/udp"
    image: consul:latest
    command:
    - agent
    - -advertise={{ ansible_default_ipv4.address }}
    - -bind=0.0.0.0
    - -client=127.0.0.1
{% for consul_server in ansible_env.CONSUL_SERVERS.split(',') %}
    - -join={{ consul_server }}
{% endfor %}
    - -data-dir=/consul/data
    - -disable-host-node-id
    deploy:
      restart_policy:
        condition: on-failure


volumes:
  consul-{{ ansible_hostname }}:

