version: '3.3'
services:
  consul:
    network_mode: host
    volumes:
    - type: volume
      source: consul-{{ ansible_hostname }}
      target: /consul/data
    ports:
    - "0.0.0.0:8600:8600/tcp"
    - "0.0.0.0:8600:8600/udp"
    - "0.0.0.0:8500:8500/tcp"
    - "0.0.0.0:8301:8301/tcp"
    - "0.0.0.0:8301:8301/udp"
    - "0.0.0.0:8302:8302/tcp"
    - "0.0.0.0:8302:8302/udp"
    image: consul
    stdin_open: true
    tty: true
    command:
    - agent
    - -server
    - -advertise={{ ansible_default_ipv4.address }}
    - -advertise={{ ansible_env.CONSUL_VIP }}
    - -bind=0.0.0.0
    - -client={{ ansible_default_ipv4.address }}
    - -bootstrap-expect=3
    - -data-dir=/consul/data
    - -node={{ ansible_hostname }}
    - -enable-script-checks=true
    - -ui
    deploy:
      restart_policy:
        condition: on-failure
  keepalived:
    network_mode: host
    image: tomdymond/keepalived:latest
    environment:
    - VIRTUAL_IP={{ ansible_env.CONSUL_VIP }}
    - VIRTUAL_MASK={{ ansible_default_ipv4.netmask }}
    - CHECK_IP={{ ansible_default_ipv4.address }}
    - CHECK_PORT=8500
    - CHECK_PATH=/
    - VRID={{ ansible_default_ipv4.address.split('.')[3] }}
    - INTERFACE={{ ansible_default_ipv4.interface }}
    - AUTH_PASS={{ keepalived_auth_pass }}
    deploy:
      restart_policy:
        condition: on-failure
    cap_add:
    - NET_ADMIN
    - NET_BROADCAST
volumes:
  consul-{{ ansible_hostname }}:

