version: '3.3'
services:
  consul:
    volumes:
    - type: volume
      source: consul-{{ ansible_hostname }}
      target: /consul/data
    ports:
    - "8600:8600/tcp"
    - "8600:8600/udp"
    - "8500:8500/tcp"
    - "8301:8301/tcp"
    - "8301:8301/udp"
    - "8302:8302/tcp"
    - "8302:8302/udp"
    image: consul:latest
    command:
    - agent
    - -server
    - -bind={{ ansible_default_ipv4.address }}
    - -join={{ ansible_env.CONSUL_BOOTSTRAP_NODE }}
    - -data-dir=/consul/data
    - -disable-host-node-id
    - -ui
    deploy:
      restart_policy:
        condition: on-failure


volumes:
  consul-{{ ansible_hostname }}:

