global
    log 127.0.0.1 local0 notice
    ssl-server-verify none

defaults
    retries 3
    timeout client 25s
    timeout connect 5s
    timeout server 25s
    timeout tunnel 3600s
    timeout http-keep-alive 1s
    timeout http-request 15s
    timeout queue 30s
    timeout tarpit 60s
frontend fe_app-server
    bind 0.0.0.0:80
    mode http
    default_backend be_app-server

    # Add headers for SSL offloading
    acl is_websocket hdr(Upgrade) -i WebSocket
    acl is_websocket hdr_beg(Host) -i ws
    use_backend be_app-server if is_websocket
backend be_app-server
    mode http
    balance roundrobin
    option persist
    option http-server-close
    option redispatch
{% for server in ansible_env.CONSUL_SERVERS.split(',') %}
    server {{ loop.index }} {{ server }}:8500 weight 1 maxconn 200 check port 8500
{% endfor %}

listen stats # Define a listen section called "stats"
  bind :9000 # Listen on localhost:9000
  mode http
  stats enable  # Enable stats page
  stats hide-version  # Hide HAProxy version
  stats realm Haproxy\ Statistics  # Title text for popup window
  stats uri /haproxy_stats  # Stats URI
  stats auth Username:Password  # Authentication credentials

