---
- name: Turn off firewall
  service:
    name: firewalld
    enabled: no
    state: stopped

- name: Create stack dir
  file:
    path: /var/stacks/{{ stack_name }}-stack
    state: directory
    mode: 0755

- name: Create temp dir
  file:
    path: /tmp/dcos-{{ dcos_version }}
    state: directory
    mode: 0755

- name: Download DC/OS
  get_url:
    url: "http://{{ ansible_env.DCOS_BOOTSTRAP }}:80/dcos_install.sh"
    dest: /tmp/dcos-{{ ansible_env.DCOS_VERSION }}/dcos_install.sh

- name: Create group nogroup
  group:
    name: nogroup
    state: present  

- name: chmod 0755 installer
  command: chmod 0755 /tmp/dcos-{{ ansible_env.DCOS_VERSION }}/dcos_install.sh

- name: Run DC/OS installer
  command: bash -c "/tmp/dcos-{{ ansible_env.DCOS_VERSION }}/dcos_install.sh {{ ansible_env.MESOSPHERE_ROLE }}"



