version: '3.3'
services:
  mysql:
    ports:
    - 3306:3306/tcp
    image: mysql:5.7
    stdin_open: true
    tty: true
    deploy:
      restart_policy:
        condition: on-failure

    environment:
    - MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
    volumes:
    - type: bind
      source: /mnt/data
      target: /data
