---
- name: Create stack dir
  file:
    path: /var/stacks/redis-stack
    state: directory
    mode: 0755

- name: Generate docker-compose file
  template:
    src=docker-compose.yml.j2
    dest=/var/stacks/redis-stack/docker-compose.yml

- name: Copy service file for redis-stack
  copy:
    src=redis-stack.service
    dest=/etc/systemd/system/redis-stack.service

- name: Daemon reload 
  command: systemctl daemon-reload

- name: Restart redis
  systemd:
    state: started
    name: redis-stack
    enabled: yes
    daemon_reload: yes

