version: '3.3'
services:
  centos:
    image: tomdymond/centos-image-hpilo
    stdin_open: true
    volumes:
    - centos-image-hpilo-{{ ansible_hostname }}:/data
    - /var/stacks/{{ stack_name }}-stack/ks.cfg:/ks.cfg
    tty: true

  provapi:
    image: tomdymond/provapi
    volumes:
    - centos-image-hpilo-{{ ansible_hostname }}:/data
  
  nginx:
    image: nginx
    ports:
      - "80:80"
    deploy:
      replicas: 1
    volumes:
      - centos-image-hpilo-{{ ansible_hostname }}:/usr/share/nginx/html/centos-image-hpilo

volumes:
  centos-image-hpilo-{{ ansible_hostname }}:

