version: '3.3'
services:
  centos:
    image: tomdymond/centos-image-hpilo
    stdin_open: true
    volumes:
    - centos-image-hpilo-{{ ansible_hostname }}:/data
    - /var/stacks/{{ stack_name }}-stack/ks.cfg:/ks.cfg
    tty: true
 
  hpilo:
    image: tomdymond/hpilo-chroot
    stdin_open: true
    volumes:
    - hpilo-{{ ansible_hostname }}:/data
    tty: true
  
  nginx:
    image: nginx
    ports:
      - "80:80"
    deploy:
      replicas: 1
    volumes:
      - hpilo-{{ ansible_hostname }}:/usr/share/nginx/html/hpilo
      - centos-image-hpilo-{{ ansible_hostname }}:/usr/share/nginx/html/centos-image-hpilo

volumes:
  hpilo-{{ ansible_hostname }}:
  centos-image-hpilo-{{ ansible_hostname }}:

