---
- name: Create stack dir
  file:
    path: /var/stacks/{{ stack_name }}-stack
    state: directory
    mode: 0755

- name: Printing all the environment variables in Ansible
  debug:
    msg: "{{ ansible_env }}"

- name: Generate docker-compose file
  template:
    src=docker-compose-{{ ansible_env.CONSUL_ROLE }}.yml.j2
    dest=/var/stacks/{{ stack_name }}-stack/docker-compose.yml

- name: Copy service file for stack
  template:
    src=../common/templates/stack.service.j2
    dest=/etc/systemd/system/{{ stack_name }}-stack.service

- name: Restart service
  systemd:
    state: started
    name: "{{ stack_name }}-stack"
    enabled: yes
    daemon_reload: yes

