version: '3'
services:
  node_exporter:
    ports:
    - 19100:9100/tcp
    image: prom/node-exporter
    stdin_open: true
    tty: true
    deploy:
      restart_policy:
        condition: on-failure
  cAdvisor:
    ports:
    - 18080:8080/tcp
    image: google/cadvisor
    stdin_open: true
    tty: true
    deploy:
      restart_policy:
        condition: on-failure

