version: '2'
services:
  node_exporter:
    ports:
    - 9100:9100/tcp
    image: prom/node-exporter
    stdin_open: true
    tty: true
  cAdvisor:
    ports:
    - 8080:8080/tcp
    image: google/cadvisor
    stdin_open: true
    tty: true


