version: '3.3'
services:
  minio:
    ports:
    - 9000:9000/tcp
    image: minio/minio
    stdin_open: true
    tty: true
    deploy:
      restart_policy:
        condition: on-failure
    command:
    - server
    - /data

    environment:
    - MINIO_ACCESS_KEY={{ minio_access_key }}
    - MINIO_SECRET_KEY={{ minio_secret_key }}   
    volumes:
    - type: volume
      source: minio-0a022b
      target: /data

volumes:
  minio-0a022b:
    driver: vsphere:latest
    driver_opts:
      size: 2Gb

