version: '3.3'
services:
  haproxy:
    ports:
    - 80:80/tcp
    volumes:
    - type: bind
      source: /var/stacks/{{ stack_name }}-stack/etc
      target: /usr/local/etc/haproxy
    image: haproxy
    stdin_open: true
    tty: true
    deploy:
      restart_policy:
        condition: on-failure

