version: '3'
services:
  prometheus:
    image: prom/prometheus:v1.6.0
    volumes:
    - prometheus-data:/prometheus
    - prom-conf:/etc/prom-conf
    tty: true
    extra_hosts:
    - alertmanager:172.17.0.1
    ports:
    - 9090:9090/tcp
    command:
    - -alertmanager.url=http://alertmanager:9093
    - -config.file=/etc/prom-conf/prometheus.yml
    - -storage.local.path=/prometheus
    - -web.console.libraries=/etc/prometheus/console_libraries
    - -web.console.templates=/etc/prometheus/consoles
    deploy:
      restart_policy:
        condition: on-failure
  prom-conf:
    image: tomdymond/prom-conf
    stdin_open: true
    volumes:
    - /etc/prom-conf/
    tty: true
  snmp_exporter:
    ports:
    - 9116:9116/tcp
    image: prom/snmp-exporter
    stdin_open: true
    tty: true
    deploy:
      restart_policy:
        condition: on-failure
  grafana:
    ports:
    - 3000:3000/tcp
    image: grafana/grafana
    stdin_open: true
    tty: true
    deploy:
      restart_policy:
        condition: on-failure

volumes:
  prometheus-data:
  prom-conf:

