version: '3.3'
services:
  consul:
    network_mode: host
    volumes:
    - type: bind
      source: /etc
      target: /data
    image: tomdymond/mesosphere-bootstrap-discovery:latest
    command:
    - {{ ansible_env.MESOS_BOOTSTRAP }}
    deploy:
      restart_policy:
        condition: on-failure

